
 

.Countdown {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100%;
}
.Countdown__title {
  font-weight: 400;
  margin: 1rem auto 2rem;
  text-align: center;
}

.clock {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.clock__display {
  height: 160px;
  position: relative;
  width: 160px;
}
.clock__text {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.clock__amount {
  font-size: 3.75rem;
}
.clock__unit {
  font-size: 0.75rem;
}

.circle {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0, 1.7);
  transition: stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0, 1.7);
}

  

.message {
  margin: 0 auto 1rem;
  text-align: center;
}
.message--error {
  background-color: #e91e63;
  color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
}
